
<!DOCTYPE html>
<html lang="en">
<head> 
     {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <!-- <style>
            
            </style> -->
        
    <title>Document</title>
</head>
<body>
    <section class="container">
        <div class="header">
            <div class="logo-bx">
                <h1><center>Welcome To My DarlingMart</center></h1>
            </div>
            <div class="navigation">
                <ul class="nav-list">
                        {% include './nav.html' %}
                </ul>
            </div>
        </div>

                <h2> {% block content %}
                        {% endblock content %}</h2> 

       
    

</section>
</body>
</html>